class APIConfig {
//KEYS
  static String ehKeySandbox = **SANDBOX KEY**;
  static String ehKeyProduction = **PRODUCTION KEY**;

//HOSTNAMES
  static String sandboxHost = **SANDBOX HOST**;
  static String prodHost = **PROD HOST**;

  //PORTS
  static int sandboxPort = **SANDBOX PORT**;
  static int prodPort = **HOST PORT (LEAVE UNSET)**;
}
